.btn-initial {
  width: 45px;
  height: 45px;
  padding: 6px 0px;
}
.btn-initial:hover {
  box-shadow: 0 0 8px #0f2f44;
}

.text-blue-template {
  color: #3f6ad8;
}
.bg-blue-template {
  background-color: #3f6ad8;
}
.app-header__logo .logo-src {
  height: 40px;
  width: 180px;
}
.no-bg-color {
  background-color: transparent;
  box-shadow: none;
}
.m0-a {
  margin: 0 auto !important;
}
.assignedExercises .card-body:hover {
  border-left: 6px solid lightsteelblue;
  padding-left: calc(1.25rem - 6px);
  cursor: pointer;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 50px;
  background: #4caf50;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 50px;
  background: #4caf50;
  cursor: pointer;
}
/*-----------------------------spinner -------------------------------*/
/* Absolute Center Spinner */
.loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: calc(100vh);
  padding-top: calc(50vh);
  padding-left: 50vw;
  width: 100%;
  margin: 0 auto;
}
.loading_inner {
  position: fixed;
  z-index: 999;
  height: calc(100vh - 150px);
  padding-top: calc(50vh - 75px);
  width: 100%;
  margin: 0 auto;
  padding-left: 50%;
  overflow: show;
  margin: auto;
}

.relative {
  position: relative !important;
}

.scroll-area-xxl {
  height: calc(100vh - 320px);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
.scroll-area-xxl .scrollbar-container {
  flex: 1;
}
/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(#a3a3a340, #75757540);

  background: -webkit-radial-gradient(#83838340, #81818140);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hover .btn-hover {
  opacity: 0;
}
.hover:hover .btn-hover {
  opacity: 1;
  transition: 0.5s;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 15px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 1.5em 0 0,
    rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) -1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 -1.5em 0 0,
    rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 1.5em 0 0,
    rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) -1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 -1.5em 0 0,
    rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*--------------------- ALERt confirm ---------------*/
.react-confirm-alert-overlay {
  background: rgba(255, 255, 255, 0.4);
}
.react-confirm-alert-body {
  border: 1px solid darkgrey;
}
.react-confirm-alert-body > h1 {
  font-size: 18px;
  font-weight: 600;
}

@media screen and (max-width: 992px) {
  .full-height-mobile {
    min-height: calc(100vh - 120px);
  }
  .loading_inner {
    z-index: 5;
  }
}
